<div class="top-bar">Login</div>

<div class="img-center"><img style="width: 380px;" src="https://seeklogo.com/images/H/health-clinic-logo-D24DB1D83B-seeklogo.com.png" alt=""></div>
<div flexLayout="row"></div>
<div class="img-center">
    <mat-form-field appearance="fill" class="custom-input">
        <mat-label>Email address</mat-label>
        <input matInput placeholder="Email" />
    </mat-form-field>
</div>
<div flexLayout="row">
    <div class="img-center">
        <button class="test-login" (click)="navigateToHome()">Login</button>
    </div>
</div>