
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$myclinic01-primary: mat.define-palette(mat.$indigo-palette);
$myclinic01-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$myclinic01-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$myclinic01-theme: mat.define-light-theme((
  color: (
    primary: $myclinic01-primary,
    accent: $myclinic01-accent,
    warn: $myclinic01-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($myclinic01-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.top-bar {
  background-color: black;
  color: white;
  height: 50px;
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: center;   
  align-items: center;
  font-weight: 550;
  font-family: sans-serif;
  font-size: 20px;
}
.img-center{
  width: 100%;
  display: flex;
  justify-content: center;   
}
.please-wait{
  font-weight: 500;
  font-family: sans-serif;
  font-size: 20px;
  
}
.loading{
  font-weight: 500;
  font-family: sans-serif;
  font-size: 18px;
}

.test-login{
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  background-color: #000;
  color: #FFF;
  width: 150px;
  cursor: pointer;
}