.clinic-admin{
    background-color: black;
    color: white;
    height: 25px;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;   
    align-items: center;
    font-weight: 550;
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 15px;
}
.default-font{
    font-family: Nunito Sans,sans-serif;
    font-size: 14px;
}