
<div class="overlay-box">
    <div class="center-content">

        <input [readonly]="true" style="color: gray;" matInput [matDatepicker]="picker" placeholder="Choose a date"
        (dateChange)="onDateSelected($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <p>Appointment Date: {{ formattedDate }}</p>
        <div><br>
            <label>Hours : Minute</label>&nbsp;
            <input type="text" [(ngModel)]="selectedTime">
        </div>
        <div><br>
            <label>{{ 'daily-appointment-records.patient-name' | translate }}</label>&nbsp;
            <input type="text" [(ngModel)]="patientName" (input)="convertPatientToUppercase(patientName)">
        </div>
        <div><br>
            <label>{{ 'general.nric_no_passport' | translate }}</label>&nbsp;
            <input type="text" [(ngModel)]="nricPassport" (input)="convertICPassportToUppercase(nricPassport)">
        </div>
        <div><br>

            <button class="test-login" (click)="closeOnly()">Close</button>&nbsp;
            <ng-container *ngIf="!currentRecordId">
                <button class="test-login" (click)="addAndClose()">Add and Close</button>&nbsp;
                <button class="test-login" (click)="addAnother()">Save, Add Another</button>
            </ng-container>
            <ng-container *ngIf="currentRecordId">
                <button class="test-login" (click)="updateAndClose()">Update and Close</button>&nbsp;
                <button class="test-login" (click)="updateOnly()">Update Only</button>
            </ng-container>
        </div>
    </div>
  </div>
  


    <!-- <mat-card >
        <mat-card-header>
          <mat-card-title>{{ 'menu.appointments' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content> -->
            <div class="shadow-box">

                
            </div>
        <!-- </mat-card-content>
      </mat-card> -->
