<div class="top-right">
    <app-user-menu></app-user-menu>
</div>
<p></p>
<div fxLayout="row" fxLayoutAlign="center center">
    <div class="clinic-admin" fxFlex="nogrow" fxFlex.gt-sm="15" fxLayoutAlign="center center">
        {{'clinic-admin' | translate}}
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="nogrow" fxFlex.gt-sm="35" fxLayoutAlign="center center">
        <p class="default-font">{{'choose-module' | translate}}</p>
    </div>
</div>
<div fxLayout="row">
    <div  fxFlex.gt-sm="50" fxLayoutAlign="center start" class="homeCard cursor-pointer">
        <a (click)="goToAppointmentRecords()" class="resetLink">
            <div class="homeCard-body">
                <img src="https://mysjdev.entomo.co/myvas-ui/assets/img/appointments.svg">
                <div>
                    <h5>{{ 'menu.appointments' | translate }}</h5>
                    <p>{{ 'menu.appointments_note' | translate }}</p>
                </div>
            </div>
        </a>
    </div>
</div>